@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300..700&family=Hanuman:wght@100;300;400;700;900&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Madimi+One&family=Meddon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;

}
.logo{
    color:rgb(245, 138, 45);
    transition: all ease 0.2s;
    font-weight: 600;
}
.logo:hover{
    color: rgb(4, 200, 47);
  
   
}

.nav-bar{
    text-align: center;
    background-color: rgb(255, 255, 255);
    fill-opacity: 0.2;
}
.carousel-item{
    height: 600px;
}
.carousel-image-1{
    background-image: radial-gradient(circle, rgba(29, 29, 29, 0.6) 10%, rgba(6, 6, 6, 0.66) 100%),url('project-1-img/home-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-image-2{
    background-image: radial-gradient(circle, rgba(29, 29, 29, 0.6) 10%, rgba(6, 6, 6, 0.66) 100%),url('project-1-img/home-2.jpg');
    background-size: cover;
    background-position: center;
}
.carousel-image-3{
    background-image:radial-gradient(circle, rgba(29, 29, 29, 0.6) 10%, rgba(6, 6, 6, 0.66) 100%), url('project-1-img/home-3.jpg');
    background-size: cover;
    background-position: center;
}
.header-about{
    font-size: 40px;
    font-weight: 500;
    
}
